---
export interface Props {
  name: string;
  description: string;
  url: string;
  language: string;
  languageColor: string;
  image: string;
  index: number;
}
const { name, description, url, language, languageColor, image, index } = Astro.props;
---
<a href={url} target="_blank" rel="noopener noreferrer" class="card" style={`--index: ${index}; --language-color: ${languageColor};`}>
  <img src={image} alt={`Social preview for ${name}`} class="card-img"/>
  <div class="card-content">
    <h3 class="card-title">{name}</h3>
    <p class="card-description">{description || 'No description available.'}</p>
    <div class="language-separator" style={`background-color: ${languageColor};`}></div>
    <span class="card-language">{language}</span>
  </div>
</a>

<style>
  .card {
    display: block;
    border: 1px solid var(--text-color);
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--bg-color);
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.30s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    overflow: hidden;
    will-change: transform, box-shadow, border-color;
  }

  .card:hover {
    transform: translateY(-8px) scale(1.01) rotate(-0.5deg);
    border-color: var(--language-color, var(--accent-color));
    box-shadow: 0 20px 40px -15px rgba(0,0,0,0.2), 0 0 15px -5px var(--language-color, var(--accent-color));
  }

  .card:hover .card-img {
    filter: sepia(0);
  }

  .card-img {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center 20%;
    background-color: #e0e0e0;
    transition: filter 0.4s ease-out;
    filter: sepia(0.7);
  }
  .card-content {
    padding: clamp(1rem, 1vw, 1.5rem);
  }
  .card-title {
    font-family: var(--font-serif);
    font-size: clamp(1.2rem, 5vw, 1.5rem);
    margin: 0 0 0.5rem 0;
  }
  .card-description {
    font-family: var(--font-sans-serif);
    font-size: clamp(0.9rem, 4vw, 1rem);
    line-height: 1.5;
    margin: 0 0 1rem 0;
    position: relative;
    max-height: 6em; /* 4 lines of text */
    overflow: hidden;
  }

  .card-description::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1.5em;
  }

  .language-separator {
    height: 4px; /* Thin line */
    width: 100%;
    margin: 0.1rem 0; /* Space above and below */
  }

  .card-language {
    font-family: var(--font-sans-serif);
    font-size: clamp(0.8rem, 3.5vw, 0.9rem);
    font-weight: bold;
    text-transform: uppercase;
  }
</style>
